.portada {
  
    height: 100vh;
    width: 100vw;
    background-image: url(../images/miel_3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .portada__tituloPrincipal {
  
    font-size: 5rem;
    color: black;
    font-family: 'Pacifico', cursive;
    text-transform: capitalize;
  
  
  }

  /*estilos nosotros*/

  .novedades {
  display: flex;
  margin-top: 3%;
  padding: 2%;
  justify-content:space-around;
  align-items: center;
  

}



.novedades__noticias .noticias__titulo{
  padding: 5%;
}

.novedades__noticias .noticias__parrafo {
  padding: 5%;
  font-family: 'Roboto', sans-serif;
  
  
}
.novedades__imagen{
  width: 500px;
  height: 500px;
  margin-left: 2%;
  margin-right: 2%;
}

.publicidad__titulo--mayuscula{
  text-transform: uppercase;
}


.aside__parrafo--color{

  color:blue;
}

/*estilos contacto*/
  .contactanos{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    align-items: center;
    background-color: #f8e12d;
  
    
  }
  
  .contenedorGeneral {
   margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  
    
  }
  
  .contenedorGeneral__ImagenContacto{ 

    img {
        border-radius: 50%;
      
      
      }

  } 
  
  .contactanos__titulo{

    
  
        margin: 10px;
      

  } 
  
  .contactanos__formulario{
  
    display: flex;
    flex-direction: column; 
    justify-content: center;

    label{
  
      margin: 5px;
    }
  }
  
  