
$colorFondo:#c4ba9e;;
$familiaLetraPrincipal: 'Roboto';
$familiaLetraSecundaria: Sans-serif;
$familiaSize: 1.5rem;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    color: inherit;
    list-style: none;
    text-decoration: none;
  }

body{

    background-color: $colorFondo;
    font-family: $familiaLetraPrincipal, $familiaLetraSecundaria;
    font-size: $familiaSize;


    header{

        
    
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            background-color:black;
            color:#f8e12d ;
            
          


    }
}
