/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: teal;
}

header {
    
    height: 600px;
    width: 100%;
    background-color: aqua;
    background-image: url(../images/logo2.jpg);

    background-position:center;
    background-size: cover;
    
}








