/* Estilos del footer */ 
footer{
  
    
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color:black;
    color:#f8e12d ;


    .redes {
  
        display: flex;
        justify-content: center;
        align-items: center;
        
        li {
  
            margin-left: 25px;

            :hover{
                color: white;
                }

            i {
                color: #f8e12d;
                
                
                }


            }
        
        }
    
  
  
  }
  
  
  
  
  
  footer h3 {
  align-items: flex-start;
  }