.portada{
  
    height: 100vh;
    width: 100vw;
    background-image: url(../images/abejas-y-apicultura-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .portada__tituloprincipal{
  
    font-size: 5rem;
    color: black;
    font-family: 'Pacifico', cursive;
    text-transform: capitalize;
  
  
  }

  .novedades {
    display: flex;
    margin-top: 3%;
    padding: 2%;
    justify-content:space-around;
    align-items: center;
    background-color: #f8e12d;

    h2 {
        padding: 5%;
      }

      p {
        padding: 5%;
        font-family: 'Roboto', sans-serif;
        
        
      }


    
  
  }
  
  
  
  
  
  .contactanos{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    align-items: center;
    background-color: #f8e12d;
  
    
  }
  
  .contenedorGeneral {
   margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  
    
  }
  
  .contenedorImagenContacto{ 

    img {
        border-radius: 50%;
      
      
      }

  } 
  
  .contactanos{

    h2 {
  
        margin: 10px;
      }

  } 
  
  .formularioContacto{
  
    display: flex;
    flex-direction: column; 
    justify-content: center;
  }
  
  .formularioContacto label{
  
    margin: 5px;
  }