/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    color: inherit;
    list-style: none;
    text-decoration: none;
  }

  html{

    height: 100%;

  }
 
  body{
    font-family: sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
  }

  .contenedorGrid > * {

    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
  }

  .header{
    grid-area: header;
    background-color: aqua;

  }
  .navBar{
    grid-area: navBar;
    background-color: burlywood;
  }

  .main{
    grid-area: main;
    background-color: chartreuse;
  }
  .sideBar{
    grid-area: sideBar;
    background-color: cadetblue;
  }

  .footer{
    grid-area: footer;
    background-color: darkgreen;
  }

  /* estilo del grid para celular*/
  .contenedorGrid {

    display: grid;
    gap: 10px;
    grid-template-areas:

    "header"
    "navBar"
    "main"
    "sideBar"
    "footer"


    
    ;

  }

  /*estilo del grid para tablets*/
  @media (min-width:600px){

    .contenedorGrid{
      display: grid;
    gap: 10px;
    grid-template-areas:

    "header header"
    "navBar navBar"
    "sideBar main"
    "footer footer"


    
    ;
    }

  }