.menu {

    color: crimson;
}

.titulo {

    color: darkolivegreen;
    font-weight: 1000;
}

table{

    border: 5px solid blueviolet;
    background-color: cadetblue;
}

th {    

    font-style: italic;
    background-color: white;
}

td{
    color: darkgreen ;
    background-color: white;
}

footer {

    background-color: yellow;
}

header{
    background-color: violet;
}

body{

    background-color: darksalmon;
}

main p{

    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: blue;
}

h2 {

    color: darkviolet;
}

h3{

    font-size: small;
}

